body {
  background-color: rgb(245, 220, 225); /* very light pink */
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: rgb(245, 220, 225);
  flex-wrap: wrap;
}
/*links*/
#links {
  text-align: center; /* center the buttons */
  margin: 20px 0;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  margin: 10px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  background: rgb(247, 181, 192); /* main color */
  border-radius: 30px;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
/*divs hove*/


/* Hover effect */
.btn:hover {
  background:gray;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

#links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

#links li {
  margin: 0;
}

#links a {
  text-decoration: none;
  color: rgb(48, 8, 14);
  font-size: 16px;
  transition: color 0.3s ease;
}

#links a:hover {
  color: white;
}

.logo img {
  height: 55px;
  width: auto;
  display: block;
}

/* portfolio Section */


.pic{
  display: flex;
  align-items: center;
  gap: 20px;
}
    
.pic img{
    height: 100%;
    width: 400px;
    margin-left: 20px;
    border-radius: 80px;
}
.about{
  margin-top: 1px;
  font-family: 'Georgia', serif;
  font-size: px;
  text-align: center;
  color: #333;
  border-bottom: 2px solid #e6b8c4;
  padding-bottom: 5px;
  text-align: center;
}
.about{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 1.5s ease-out forwards;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rightdiv{
  background-image: url("/images/background.jpeg");
  padding: 15px;
  border-radius: 10px;
  height: 580px;
  width: 1000px; /* adjust size */
  margin-bottom: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  
}
/*animation part*/
img {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.rightdiv{
  width:1000px;
}
  .rightdiv{
  transform: scale(0.5);
  animation: zoomIn 1.2s ease-in-out forwards;
}

@keyframes zoomIn {
  to {
    transform: scale(1);
  }
}


h3{
  font-size: 25px;
  color: aliceblue;
}
h1{
  font-size: 60px;
font-family: cursive;
color:  #303030;}


