body{
  background-image: url('images/background.jpeg');
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: segoe UI fantasy;
    overflow-y: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c09ca3;
}

    

form{
    text-align: center;
}
h1{
    text-align: center;
}
.login-container {
    background: rgb(255, 255, 255);
    padding: 10;
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(red, green, rgb(0, 174, 255), alpha);
    width: 1000px;
    text-align: center;
    height: 450;
    width: 100%;
    max-width :400px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    
}
.logo{
    width: 80;
    margin-bottom: 20;
}
form input{
    width: 70%;
    padding: px;
    margin: 12px 0;
    border-radius: 10px;

}
button{
    height: 60;
    width: 80px;
    padding: 5px;
    background-color:#9c4a5c;
    color: rgb(7, 27, 37);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    
}
button:hover{
color: white;

}